<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjj.netdisk.mapper.FavoritesMapper">

    <resultMap id="BaseResultMap" type="com.zjj.netdisk.entity.DTO.Favorites">
            <id property="favoriteId" column="favorite_id" />
            <result property="userId" column="user_id" />
            <result property="userFileId" column="user_file_id" />
            <result property="creationTs" column="creation_ts" />
    </resultMap>

    <sql id="Base_Column_List">
        favorite_id,user_id,user_file_id,creation_ts
    </sql>
</mapper>
