<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjj.netdisk.mapper.PhysicalFilesMapper">

    <resultMap id="BaseResultMap" type="com.zjj.netdisk.entity.PhysicalFiles">
            <id property="fileHash" column="file_hash" />
            <result property="fileSizeBytes" column="file_size_bytes" />
            <result property="storagePath" column="storage_path" />
            <result property="referenceCount" column="reference_count" />
            <result property="creationTs" column="creation_ts" />
    </resultMap>

    <sql id="Base_Column_List">
        file_hash,file_size_bytes,storage_path,reference_count,creation_ts
    </sql>
    <insert id="insertPhysicalFiles" parameterType="com.zjj.netdisk.entity.PhysicalFiles">
        INSERT INTO physical_files (file_hash, file_size_bytes, storage_path, reference_count, creation_ts)
        VALUES (#{fileHash}, #{fileSizeBytes}, #{storagePath}, #{referenceCount}, #{creationTs})
    </insert>
    <update id="updatePhysicalFiles" parameterType="com.zjj.netdisk.entity.PhysicalFiles">
        UPDATE physical_files
        SET
            file_size_bytes = #{fileSizeBytes},
            storage_path = #{storagePath},
            reference_count = #{referenceCount},
            creation_ts = #{creationTs}
        WHERE
            file_hash = #{fileHash}
    </update>
    <select id="selectByFileHash" resultType="com.zjj.netdisk.entity.PhysicalFiles"
            parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        physical_files
        WHERE
        file_hash = #{fileHash}
    </select>
</mapper>
